.flex-container {
    display: flex;
}
.justify-content-center {
    justify-content: center;
}
.flex-direction-column {
    flex-direction: column;
}
.no-flex {
    display: block;
}
@font-face {
    font-family: SourceSansPro;
    src: url(/assets/fonts/SourceSansPro-Regular.ttf);
}
@font-face {
    font-family: SourceSansProBold;
    src: url(/assets/fonts/SourceSansPro-Bold.ttf);
}
@font-face {
    font-family: SourceSansProLight;
    src: url(/assets/fonts/SourceSansPro-Light.ttf);
}
body {
    font-family: SourceSansPro;
    background-color: #122736;
    color: white;
}